$primary-color : #ffff;
$secondary-color : #111111e7;
$btn-color: #111111d5;
$font-color: #e7e7e7;
$secondary-font-color: #ff4800;


html {
    scroll-behavior: smooth;
}

.App {
    text-align: center;
}

.upper-page-wrapper {
    background: linear-gradient(to right, #c7a46d, #19547b);
}

//header
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    // margin-top: 30px;

    .site-logo {
        width: 170px;
    }

    h2 {
        color: $secondary-font-color;
        font-size: 36px;
    }

    .rigth-bar-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 20px;

        .header-icon {
            display: flex;
            align-items: center;
        }
    }
}

//menu
.menu-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px 0px 10px;
    // border-bottom: 2px solid #25434cad;

    .navlink {
        text-decoration: none;
    }

    p {
        color: $font-color;
        font-size: 20px;
        cursor: pointer;
        padding: 0px 30px 15px 30px;
        transition: .2s;

        &:hover {
            color: #ffffff;
            background-color: transparent;
        }
    }
}

//carousel
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.carousel-container {
    background: linear-gradient(to right, #c7a46d, #19547b);
    animation: gradient 10s ease infinite;
    padding: 20px;
    height: 71.7vh;
    display: flex;
    align-items: center;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;

    .carousel-title {
        color: $btn-color;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
    }

    .carousel-img {
        width: 440px;
    }
}

//category
.category-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        border: 1px solid;
        border-radius: 50%;
        cursor: pointer;
        padding: 20px;
        color: $secondary-color;
        transition: .3s;

        &:hover {
            color: #0a2e579c;
            transform: scale(1.1);
        }

        img {
            width: 60px;
            height: 60px;
        }
    }
}

//product
.title-product {
    margin-top: 50px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    grid-auto-rows: 26rem;
    gap: 70px;
    padding: 80px;


    .product {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        border: 1px solid $font-color;
        border-radius: 5px;
        position: relative;
        overflow: hidden;

        &:after {
            content: attr(data-content);
            position: absolute;
            top: 25px;
            left: -20px;
            width: 110px;
            height: 30px;
            font-size: 13px;
            border-radius: 5px;
            background-color: #274e7ebf;
            ;
            color: #ededed;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(-45deg);
        }

        .img-container {
            height: 210px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            cursor: pointer;

            img {
                width: 120px;
            }
        }

        .describe {
            width: 100%;
        }

        .details {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 20px 0;
            font-size: 13px;

            .rating {
                display: flex;
                align-items: center;
            }

            .favorite {
                cursor: pointer;
            }
        }

        .price {
            width: 100%;
            text-align: left;
            padding-left: 20px;
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 700;
            display: flex;
            align-items: center;
        }
    }

}

//details
.detail-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
    border-bottom: 1px solid $font-color;
    padding-bottom: 120px;

    .img-container {
        width: 40%;
        height: 559px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 300px;
        }
    }

    .detail {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 70px;
        height: 559px;

        .rating {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }

        .price {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }

        .price2 {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .decribe {
            text-align: left;
        }

        .btn-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}

.zoomed-image {
    background-size: cover;
    cursor: pointer;
}

//cart
.cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 137px;
    gap: 50px;

    .blank {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .cart-msg {
            display: flex;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
        }
    }

    .cart {
        width: 70%;

        .header {
            text-align: left;
            margin: 20px 0;
            display: flex;
            align-items: center;
        }

        .cart-list {
            border: 1px solid $font-color;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 90px;
            margin: 10px 0;
            padding: 10px;

            &:last-child {
                display: none;
            }

            img {
                width: 50px;
            }

            .title {
                overflow: hidden;
                max-width: 30ch;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .price {
                display: flex;
                align-items: center;
            }

            .product-number {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 13%;

                .input {
                    border: 1px solid $font-color;
                    text-align: center;
                    padding: 7px 18px;
                }
            }
        }

        .total-price {
            display: flex;
            gap: 50px;
        }
    }

    .total {
        display: flex;
        align-items: center;
        margin: 50px 0;
    }

}

//favorite
.favorite-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 137px;
    gap: 50px;

    .blank-fav {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .cart-msg-fav {
            display: flex;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
        }
    }

    .fav-conatiner {
        width: 70%;

        .header {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 50px;
        }

        .favorite-list {
            border: 1px solid $font-color;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 90px;
            margin: 10px 0;
            padding: 10px;

            &:last-of-type {
                display: none;
            }

            .title-fav {
                overflow: hidden;
                max-width: 30ch;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            img {
                width: 50px;
            }
        }

    }
}


//realted
.realted-conatien {
    padding: 0 20px;

    .realted {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 100px));
        grid-auto-rows: 20rem;
        gap: 20px;
        margin-top: 50px;

        .containe {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            gap: 5px;

            img {
                width: 100px;
            }
        }
    }
}

//

//footer
.footer-btn {
    display: flex;
    align-items: center;
    background-color: $btn-color;
    margin-top: 150px;

    a {
        width: 100%;
        text-decoration: none;
    }
}

.footer-contaier {
    background-color: $secondary-color;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 90px;
    padding: 30px 0;

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
        margin: 30px 0;

        .social-icons-footer {
            cursor: pointer;
            display: flex;
            gap: 10px;
        }
    }
}

//copy right
.copy-right {
    background-color: $btn-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

//media
@media screen and (max-width:610px) {

    .menu-container {
        gap: 13px;

        p {
            font-size: 17px;
            justify-content: center;
            padding: 0 0 20px 0;
        }
    }

    .carousel {
        gap: 10px;
        padding: 10px;

        .carousel-title {
            font-size: 15px;
            align-items: center;

            .category {
                font-size: 25px;
            }

            .btn {
                width: 150px;
                height: 25px;
            }
        }

        .carousel-img {
            width: 230px;
        }
    }

    .category-container {
        flex-direction: column;
        gap: 10px;

        div {
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: row;
            border-radius: 0;
            align-items: center;
            justify-content: flex-start;
            padding: 0;
            gap: 20px;
            border: none;
            background-color: cornflowerblue;
            ;
            color: $font-color;

            &:hover {
                transform: none;
                color: #ffff;
            }
        }
    }

    .title-product {
        .our-product-header {
            font-size: 24px;
        }
    }

    .product-container {
        margin-top: 20px;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        grid-auto-rows: 23rem;
        gap: 20px;

        .product {
            .img-container {
                img {
                    width: 90px;
                }
            }
        }
    }

    .detail-container {
        flex-direction: column;
        padding-bottom: 90px;

        .img-container {
            height: inherit;
            width: 100%;

            img {
                width: 150px;
            }
        }

        .detail {
            width: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;

            .header-detail {
                text-align: center;
                padding: 0 10px;
            }

            .decribe {
                text-align: center;
                padding: 0 15px;
            }

            .btn-wrapper {
                padding: 0 10px;
            }
        }
    }

    .realted-conatien {
        margin-top: 20px;

        .realted {
            gap: 45px;
            display: flex;
            align-items: flex-start;
            overflow-x: scroll;

            .containe {
                height: 377px;
                min-width: 171px;
                justify-content: space-between;
                gap: 0;
            }
        }

        .header {
            text-align: center;
            font-size: 25px;
        }
    }

    .cart-container {
        margin-top: 40px;

        .blank {
            gap: 20px;
            width: 100%;
            padding: 0 10px;
            margin-top: 90px;

            .cart-msg {
                font-size: 20px;
            }
        }

        .cart {
            width: 100%;

            .header {
                padding-left: 10px;
            }

            .cart-list {
                flex-direction: column;
                gap: 35px;
            }

            .total {
                padding-left: 10px;
            }
        }
    }

    .favorite-container {
        .blank-fav {
            gap: 20px;
            padding: 0 10px;

            .cart-msg-fav {
                font-size: 20px;
            }
        }

        .fav-conatiner {
            .header {
                justify-content: center;
            }

            .favorite-list {
                flex-direction: column;
                gap: 40px;
            }
        }
    }



    .footer-contaier {
        padding: 0;

        div {
            width: 100%;
            align-items: center;
        }
    }
}

@media screen and (max-width:400px) {
    .menu-container {
        gap: 10px;

        p {
            font-size: 14px;
            justify-content: center;
            padding: 0 0 20px 0;
        }
    }

    .header-container {
        margin-top: 50px;
    }

    .carousel-container {
        height: 64.7vh;

        .carousel {

            .carousel-title {
                font-size: 13px;

                .category {
                    font-size: 19px;
                }

                .btn {
                    width: 100px;
                    height: 25px;
                    font-size: 11px;
                }
            }

            .carousel-img {
                width: 170px;
            }

        }
    }

    .category-container {
        gap: 5px;

        div {
            height: 0px;
            gap: 40px;
            padding: 25px 0;

            img {
                width: 40px;
                padding-left: 20px;
            }
        }
    }

    .title-product {
        .our-product-header {
            font-size: 20px;
        }
    }

    .product-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .product {
            width: 300px;
        }
    }

    .cart-container {
        .cart {
            .header {
                font-size: 20px
            }

            .total-price {
                .total {
                    font-size: 24px;
                }

                .sell-money {
                    font-size: 26px;
                }
            }
        }
    }

    .favorite-container {
        .fav-conatiner {
            width: 99%;
        }
    }

    .detail-container {
        margin-top: 50px;
        margin-bottom: 140px;

        .img-container {
            img {
                width: 100px;
            }
        }

        .detail {
            .header-detail {
                font-size: 20px;
            }
        }
    }

    .realted-conatien {
        .realted {
            .containe {
                img {
                    width: 70px;
                }
            }
        }

        .header {
            font-size: 22px;
        }
    }
}